<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962712836791-je2dnqmv5qd94f6j0ov829dd3lk6aa64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962712836791-je2dnqmv5qd94f6j0ov829dd3lk6aa64</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>962712836791-0brf3ctjgq3gb16g8ffgulkci5epc7d6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBikECUVjEN5nxWjIGuCwksDjF4462AHvo</string>
	<key>GCM_SENDER_ID</key>
	<string>962712836791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todo</string>
	<key>PROJECT_ID</key>
	<string>shopping-2697a</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-2697a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962712836791:ios:8f939bb883f8977c0f8b32</string>
</dict>
</plist>